body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #004D98;
}
.cleaner{
    clear: both;
}
header {
    background-color: #003f7e;
    color: white;
    padding: 3px 0;
}

#hdr {
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 10px;
}

#hdr h1 {
    font-size: 35px;
    margin: 0 auto;
    color:#FFCB00;
    text-shadow: 1px 1px black;
	transition:font-size 0.5s ease-in-out;
}

#hdr h1:hover {
	font-size:38px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li a {
	font-size:20px;
    text-decoration: none;
    color:#FFCB00;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.5s ease-in-out;
    text-shadow: 1px 1px black;
}

nav ul li a:hover {
    background-color: #A50044;
	font-size:21px;
}
#logo{
    width:60px;
    height: 60px;
    float: left;
}

.text{
    text-align: center;
    color:#FFCB00;
}
.text-one{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px black;
    text-align: left;
    margin-left: 100px;
	
}
.text-two{
    text-shadow: 1px 1px black;
    text-align: justify;
    font-size: 24px;
	line-height:1.5;
	padding:5px 100px;
}

.images{
    margin: 20px 0px;
}
.images img{
    width:300px;
    height: 185px;
    margin: 0px 80px;
    border:#A50044 15px ridge;
    border-radius: 15px;
}
.gallery-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    z-index: 0;
}
.gallery-images img{
    justify-content:space-evenly;
    width:300px;
    height:185px;
    margin: 5px auto;
    border:#A50044 15px ridge;
    filter: grayscale(50%);
    transition: filter 0.2s ease-in-out;
    border-radius: 15px;
    z-index: 0;
}
.gallery-images img:hover{
    filter: grayscale(0%);
}
.forca{
    font-weight: 500;
    font-size: 24px;
    text-shadow: 1px 1px black;
    margin-bottom: 15px;
    font-style: italic;
}
footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color:#003f7e;
    color:#FFCB00;
    padding: 10px 0px;
    margin-top: 50px;
  }
.footer-button button{
    background-color:#FFCB00;
    border-radius: 5px;
    margin-bottom: 10px;
}
.footer-button button a{
    text-decoration: none;
    color: #000;
    font-family: "Ubuntu", sans-serif;
}

.copyright{
    font-weight: 700;
    text-shadow: 1px 1px black;
}
.marked-text{
    background-color:#A50044;
    padding:1px 4px;
    border-radius: 5px;
}
.icons a i{
    font-size:24px;
    padding: 5px 5px;
    color: #FFCB00;
}
.icons a{
    text-decoration: none;
}
.icons{
    display:block;
    margin-bottom: 10px;
    text-shadow: 0.5px 0.5px black;
}
#form_id{
    padding: 20px 50px;
    width:33%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    color:#FFCB00;
    font-weight: 500;
    text-shadow: 1px 1px black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; 
    padding:10px;
    background-color: #A50044;
    border-radius: 5px;
    border:#A50044 15px ridge;
}

.form-component{
    background-color: #A50044;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
input{
    background-color:#FFCB00;
}
textarea{
    background-color: #FFCB00;
    resize: none;
}
#form_id button{
    background-color: #FFCB00;
    padding-bottom: 5px;
    width:100px;
    font-family: "Ubuntu", sans-serif;
}
.contact-title {
    font-style: italic;
}
.author{
    display: flex;
    justify-content: space-evenly;
}

#author-img img{
    margin: 50px 0px 5px 0px;
    width: 400px;
    height: 400px;
    border: #A50044 15px ridge;
    border-radius: 15px;
}
#author-text{
    color: #FFCB00;
    text-align: center;
    text-shadow: 1px 1px black;
    background-color: #A50044;
    padding: 10px;
    margin: 5px 10px 20px 10px;
    border-radius: 15px;
    border: #A50044 15px ridge;
}

#table_id{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFCB00;
    text-align: center;
    margin:10px 0px;
}
table{
    background-color: #003f7e;
    border: #A50044 15px ridge;
    border-radius: 15px;
    width:75%;
    text-shadow: 1px 1px black;
}
th,tr,td{
    background-color:#004D98;
    border: #003f7e 3px solid;
    border-collapse: collapse;
}
#list_id{
    width:65%;
    display: inline-block;
    margin-right:100px ;
    text-align: left;
    text-shadow: 1px 1px black;
    list-style-type:square;
}

#list_id li{
    padding:2px 0px;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-btn span {
    height: 3px;
    background: #FFCB00;
    display: block;
    border-radius: 2px;
}

.menu {
    list-style: none;
    background-color: #003f7e;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
}

.menu li {
    border-bottom: 1px solid #444;
}

.menu a {
    display: block;
    padding: 1rem;
    color: #FFCB00;
    text-decoration: none;
}

.menu a:hover {
    background-color: #004D98;
}

#menu-toggle:checked ~ .menu {
    display: block;
}
#info{
    color: #FFCB00;
    font-size: 20px;
    width:200px;
    text-shadow: 1px 1px black;
}

@media screen and (max-width:1100px) {
    .text-one {margin-left: 10px;font-size: 24px;max-width:100%;}
    .text-two{max-width: 100%; padding: 5px 10px; font-size: 20px;}
    nav ul li a {display:none;}
    .images img{
        margin: 0 auto;
        width:150px;
        height: 90px;
    }
    #author-img {
        margin: 0 auto;
    }
    #author-img img {
        width: 300px; height: 300px;
        margin: 10px auto;
    }
    .gallery-images {
        flex-direction: column;
        z-index: 0;
    }
    #form_id{width:95%; margin: 0 auto; padding: 20px 10px;} 
    .form-component{max-width: 90%;}
    #info{
        width: 100px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1200px){
    #menu-toggle, .menu-btn, menu {display: none; z-index: 2;}
}
@media screen and (min-width:1800px){
    .text-one, .text-two, table, .gallery-images,  .images img, #hdr nav{max-width: 1000px; margin: 0 auto;}
    #form_id{max-width: 420px;}
}